<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel='stylesheet' type='text/css' href='member.css'/>
<script src='jquery-3.4.1.js'></script>
<script src='board2.js'></script>
</head>
<body>
<%
	var f = '';
	if(findStr != null) f=findStr;
%>
<div id='brd_select'>
	<h4>회원조회</h4>
	<form name='frm' id='frm' method='post'>
		<input type='button' value='입력' id='btnInsert'/>
		<input type='text' name='findStr' id='findStr' value='<%=f%>'>
		<input type='button' value='검색' name='btnSearch' id='btnSearch'/>
		<input type='hidden' name='mId'/>
	</form>
	<div id='title'>
		<span class='mId'>아이디</span>
		<span class='mName'>이름</span>
		<span class='rDate'>등록일</span>
		<span class='grade'>학년</span>
	</div>
	<div id='result'>
	<%	
		for(var i=0 ; i<data.rows.length;i++){
			let d = data.rows[i];
	%>
		<div id='item' onclick='view("<%=d[0]%>")'>
			<span class='mId'><%=d[0]%></span>
			<span class='mName'><%=d[1]%></span>
			<span class='rDate'><%=d[2]%></span>
			<span class='grade'><%=d[3]%></span>
		</div>
		<% } %>
	</div>
</div>
<script>btnFunc()</script>
</body>
</html>